*{
    padding: 0px;
    margin:5px;
    box-sizing:border-box;
}
body{
    background-image: url(https://www.itl.cat/pngfile/big/148-1488218_eye-relaxing-5-wallpaper-at-dark-wallpapers-hd.jpg);
}
.container{
    width:650px;
    background:linear-gradient(130deg,rgb(226, 188, 18),rgb(228, 19, 190) );
    color:white;
 padding: 80px;
 margin:120px auto;
 border-radius:80px;
 border-color: black;
 align-items: center;
}
.search{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.img{
    border:0;
    outline:0;
    padding:10px 22px;
    flex:1;
    margin-right: 20px;
    border-radius:30px;
    font-size:18px;
    background-color: rgb(233, 255, 255);
    color: black;
}
.src{
    border:10;
    outline: 1px;
    background-color: rgb(234, 254, 254);
    width: 3cm;
    height:2cm;
    border-radius:40%;

}
.border button img{
    width: 16px;
}
.weather .icon{
    margin-top: 20px;
width:160px;
}
.weather h1{
    font-size:60px;
    font-weight:400px;
    margin-top:-10px;
}
.detail{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top:50px;
}
.col{
    display:flex;
    align-items: center;
    text-align: left;

}
.col img{
    width:45px;
    margin-right:10px ;
}
.humidity,.wind{
    font-size:27px;
}